.game-list{
   width: 100%;
}

.game-list-element{
   width: 32%;
   height: 200px;
   float: left;
   display: block;
   text-align: center;
   border: solid 1px cornflowerblue;
   margin: 4px;
   padding: 4px;
   border-radius: 4px;
   box-shadow: 4px 4px 4px grey;
}

.game-list-element-top{
  float:left;
  height: 170px;
  width: 100%;
}

.game-list-element-bottom{
  float:left;
  height: 30px;
  width: 100%;
}

.game-list-element-left{
  float:left;
  height: 30px;
  width: 50%;
}

.game-list-element-right{
  float:right;
  height: 30px;
  width: 50%;
}

/**************************************************/

.game-info-img{
  float: left;
  width: 47%;
  text-align: center;
  border-right: solid 1px cornflowerblue;
  margin: 8px;
}

.game-info-img img{
  width: 97%;
  float: left;
}

.game-info-right{
  width: 47%;
  float: right;
  margin: 8px;
}

.game-info-bottom{
  width: 100%;
  float: left;
}